// Panels In-Place Editor
//
// Contains default <a href="https://www.drupal.org/project/panels" target="_blank">Panels In-Place Editor module</a> styles.
//
// Style guide: frontend.drupal.drupal7.modules.panels-in-place-editor

// Variables
//
// Panels In-Place Editor component variables. To add/edit component variables, use <code>scss/_variables.scss</code>.
//
// $ipe-control-container-background - Background for the IPE control container. Default: <code>#000</code>
// $ipe-control-container-padding - Padding for the IPE control container. Default: <code>1rem</code>
// $ipe-control-container-shadow - Shadow for the IPE control container. Default: <code>none</code>
// $ipe-button-background - Button background for IPE. Default: <code>#1779ba</code>
// $ipe-button-background-hover - Button hover background for IPE. Default: <code>#767676</code>
// $ipe-button-radius - Button radius for IPE. Default: <code>0</code>
// $ipe-button-color - Button color for IPE. Default: <code>#fff</code>
// $ipe-button-color-hover - Button hover color for IPE. Default: <code>#fff</code>
// $ipe-button-padding - Button padding for IPE. Default: <code>.5em</code>
// $ipe-button-font-family - Button font family for IPE. Default: <code>inherit</code>
// $ipe-button-font-size - Button font size for IPE. Default: <code>inherit</code>
// $ipe-button-line-height - Button line height for IPE. Default: <code>1</code>
// $ipe-button-height - Button height for IPE. Default: <code>33px</code>
// $ipe-button-margin - Button margin for IPE. Default: <code>0 1rem</code>
// $ipe-button-weight - Button weight for IPE. Default: <code>normal</code>
//
// Style guide: frontend.drupal.drupal7.modules.panels-in-place-editor.variables
$ipe-control-container-background: #000                                !default;
$ipe-control-container-padding:    1rem                                !default;
$ipe-control-container-shadow:     none                                !default;
$ipe-button-background:            #1779ba                             !default;
$ipe-button-background-hover:      #767676                             !default;
$ipe-button-radius:                0                                   !default;
$ipe-button-color:                 #fff                                !default;
$ipe-button-color-hover:           #fff                                !default;
$ipe-button-padding:               .5em                                !default;
$ipe-button-font-family:           inherit                             !default;
$ipe-button-font-size:             inherit                             !default;
$ipe-button-line-height:           1                                   !default;
$ipe-button-height:                33px                                !default;
$ipe-button-margin:                0 1rem                              !default;
$ipe-button-weight:                normal                              !default;

div {
  &#panels-ipe-control-container {
    background: $ipe-control-container-background;
    box-shadow: $ipe-control-container-shadow;
    display: none !important;
    left: 0;
    padding: $ipe-control-container-padding;

    @include breakpoint(medium) {
      display: block !important;
    }
  }

  &.panels-ipe-button-container {
    margin: 0;
  }

  &.panels-ipe-pseudobutton-container {
    a {
      color: $ipe-button-color;
      padding: $ipe-button-padding;

      &:hover {
        color: $ipe-button-color-hover;
      }

      &.panels-ipe-startedit,
      &.panels-ipe-change-layout {
        padding: $ipe-button-padding;
        background-image: none;
      }
    }
  }

  &.panels-ipe-control {
    .form-submit {
      padding: $ipe-button-padding;
    }
  }
}

div.panels-ipe-pseudobutton-container,
div.panels-ipe-control .form-submit {
  background: $ipe-button-background;
  border-radius: $ipe-button-radius;
  color: $ipe-button-color;
  font-family: $ipe-button-font-family;
  font-size: $ipe-button-font-size;
  font-weight: $ipe-button-weight;
  height: $ipe-button-height;
  line-height: $ipe-button-line-height;
  margin: $ipe-button-margin;
}

div.panels-ipe-pseudobutton-container:hover,
div.panels-ipe-control .form-submit:hover,
div.panels-ipe-pseudobutton-container:focus,
div.panels-ipe-control .form-submit:focus {
  background: $ipe-button-background-hover;
  color: $ipe-button-color-hover;
}

.ipe-throbber {
  @include throbber;
}
