// User Page 1 (WordPress style)
//
// Themes the logged out version of the Drupal user page. Similar style to the default WordPress user login page style.
//
// Style guide: frontend.drupal.page-themes.user-page-1

// Variables
//
// User Page 1 component variables. To add/edit component variables, use <code>scss/_variables.scss</code>.
//
// $user-page-header                   - If true, display the site header. Default: <code>false</code>
// $user-page-footer                   - If true, display the site footer. Default: <code>false</code>
// $user-page-background               - Defines the body background for the logged out version of the user page. Default: <code>$light-gray</code>
// $user-page-block-background         - Defines the background for the main block on the logged out version of the user page. Default: <code>$white</code>
// $user-page-block-padding            - Defines the padding for the main block on the logged out version of the user page. Default: <code>$global-padding</code>
// $user-page-block-shadow             - Defines the shadow for the main block on the logged out version of the user page. Default: <code>0 0 25px rgba(0, 0, 0, 0.07)</code>
// $user-page-block-width              - Defines the max-width for the main block on the logged out version of the user page. Default: <code>rem-calc(400)</code>
// $user-page-block-title              - Defines the title for the main block on the logged out version of the user page. Default: <code>"Sign In"</code>
// $user-page-block-title-size         - Defines the title size for the main block on the logged out version of the user page. Default: <code>precent-size(22)</code>
// $user-page-block-title-weight       - Defines the title font weight for the main block on the logged out version of the user page. Default: <code>$global-weight-bold</code>
// $user-page-input-border-color       - Defines the border color for the input on the logged out version of the user page. Default: <code>$light-gray</code>
// $user-page-input-border-color-focus - Defines the focus border color for the input on the logged out version of the user page. Default: <code>$primary-color</code>
// $user-page-input-color              - Defines the color for the input on the logged out version of the user page. Default: <code>$dark-gray</code>
// $user-page-input-color-focus        - Defines the focus color for the input on the logged out version of the user page. Default: <code>$primary-color</code>
// $user-page-label-size               - Defines the label font size on the logged out version of the user page. Default: <code>$small-font-size</code>
// $user-page-label-color              - Defines the label font color on the logged out version of the user page. Default: <code>$black</code>
// $user-page-input-desc-size          - Defines the input description font size on the logged out version of the user page. Default: <code>$small-font-size</code>
// $user-page-input-desc-color         - Defines the input description font color on the logged out version of the user page. Default: <code>$medium-gray</code>
// $user-page-input-desc-color-focus   - Defines the input description focus font color on the logged out version of the user page. Default: <code>$dark-gray</code>
//
// Weight: 0
//
// Style guide: frontend.drupal.page-themes.user-page-1.variables

$user-page-header:                   false                             !default;
$user-page-footer:                   false                             !default;
$user-page-background:               $light-gray                       !default;
$user-page-block-background:         $white                            !default;
$user-page-block-padding:            $global-padding                   !default;
$user-page-block-shadow:             0 0 25px rgba($black, .07)        !default;
$user-page-block-width:              rem-calc(400)                     !default;
$user-page-block-title:              'Sign In'                         !default;
$user-page-block-title-weight:       $global-weight-bold               !default;
$user-page-block-title-size:         precent-size(18)                  !default;
$user-page-input-border-color:       $light-gray                       !default;
$user-page-input-border-color-focus: $primary-color                    !default;
$user-page-input-color:              $dark-gray                        !default;
$user-page-input-color-focus:        $primary-color                    !default;
$user-page-label-size:               $small-font-size                  !default;
$user-page-label-color:              $black                            !default;
$user-page-input-desc-size:          $small-font-size                  !default;
$user-page-input-desc-color:         $medium-gray                      !default;
$user-page-input-desc-color-focus:   $dark-gray                        !default;

// scss-lint:disable QualifyingElement, IdSelector, NestingDepth
body.page-user.not-logged-in {
  background: $user-page-background;

  @if $user-page-header == false {
    #header {
      display: none;
    }
  }

  @if $user-page-footer == false {
    #footer {
      display: none;
    }
  }

  #main {
    background: $user-page-block-background;
    box-shadow: $user-page-block-shadow;
    display: inline-block;
    padding: $global-padding;

    @include breakpoint(medium) {
      left: 50%;
      max-width: $user-page-block-width;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 100%;
    }
  }

  #user-login {
    &::before {
      content: $user-page-block-title;
      display: block;
      font-size: $user-page-block-title-size;
      font-weight: $user-page-block-title-weight;
    }

    [type='text'],
    [type='password'],
    [type='email'],
    [type='search'],
    [type='tel'],
    [type='url'],
    [type='number'] {
      background-image: linear-gradient($user-page-input-border-color-focus, $user-page-input-border-color-focus), linear-gradient($user-page-input-border-color, $user-page-input-border-color);
      background-position: center bottom, center calc(100% - 1px);
      background-repeat: no-repeat;
      background-size: 0 2px, 100% 1px;
      border: 0;
      box-shadow: none;
      color: $user-page-input-color;
      padding-left: 0;
      padding-right: 0;
      transition: background .3s, margin .3s, color .3s;

      &:focus {
        background-size: 100% 2px, 100% 1px;
        color: $user-page-input-color-focus;

        + .description {
          color: $user-page-input-desc-color-focus;
        }
      }
    }

    label {
      color: $user-page-label-color;
      cursor: pointer;
      font-size: $user-page-label-size;
    }

    .description {
      color: $user-page-input-desc-color;
      font-size: $user-page-input-desc-size;
      margin-top: rem-calc($form-spacing * -1);
      transition: color .3s;
    }

    .form-required {
      color: $alert-color;
    }

    .form-actions {
      margin-bottom: 0;
    }

    .form-submit {
      width: 100%;
    }
  }
}
