////////////////////////////////////////////////////////////////////////////////
// Component Partials
//
// Separate your layout from design. Build sub folders and partials in this
// folder, with everything being imported, in cascading order, into this file.
////////////////////////////////////////////////////////////////////////////////

// Common Components
@import 'common';


///////////////////////////////////////
// Design Imports
//
// Import design specific styles below.
///////////////////////////////////////

@import 'design/header';
@import 'design/footer';
@import 'design/buttons';
