////////////////////////////////////////////////////////////////////////////////
// Common Styles
//
// All common styles should be placed here.
////////////////////////////////////////////////////////////////////////////////

/* Components */

// Includes common CSS classes for styling elements (ex. align-left,
// float-left, etc.) Optional.
@import 'frontend';


/* Elements */
.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  position: relative; /* Align more nicely with capital letters */
  top: -0.0625em;
  vertical-align: middle;
  width: 1em;
}


/* Theme */


/* Modifiers */
