////////////////////////////////////////////////////////////////////////////////
// Demo Styles
//
// Contains all styles for the Frontend demo. Structure should not be used as a
// reference when creating stylesheets. Can be deleted.
////////////////////////////////////////////////////////////////////////////////

body.demo {
  .demo__content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));

    h1,
    ul {
      margin: 0;
    }

    ul {
      font-size: rem-calc(32);
    }

    h1 {
      span {
        display: inline-block;
        font-size: rem-calc(13);
        vertical-align: top;
      }
    }
  }
}

