////////////////////////////////////////////////////////////////////////////////
// Frontend Styles
//
// Includes all Frontend common styles.
////////////////////////////////////////////////////////////////////////////////

/* Alignment */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: left;
}

.align-center {
  text-align: center;
}

@include breakpoint($small) {
  .float-left-small {
    float: left;
  }

  .float-right-small {
    float: right;
  }

  .align-left-small {
    text-align: left;
  }

  .align-right-small {
    text-align: left;
  }

  .align-center-small {
    text-align: center;
  }
}


/* Lists */

.list-inline-block {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: list-inline-block;
  }
}