////////////////////////////////////////////////////////////////////////////////
// Wordpress Styles
//
// All core Wordpress styles should be placed here. See https://goo.gl/TR60La
// for more details.
////////////////////////////////////////////////////////////////////////////////

.site-title {}
.site-description {}

.alignnone {
  margin: rem-calc(5 20 20 0);
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: rem-calc(5) auto;
}

.alignright {
  float:right;
  margin: rem-calc(5 0 20 20);
}

.alignleft {
  float: left;
  margin: rem-calc(5 20 20 0);
}

a img.alignright {
  float: right;
  margin: rem-calc(5 0 20 20);
}

a img.alignnone {
  margin: rem-calc(5 20 20 0);
}

a img.alignleft {
  float: left;
  margin: rem-calc(5 20 20 0);
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: rem-calc(1) solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: rem-calc(5 3 10);
  text-align: center;
}

.wp-caption.alignnone {
  margin: rem-calc(5 20 20 0);
}

.wp-caption.alignleft {
  margin: rem-calc(5 20 20 0);
}

.wp-caption.alignright {
  margin: rem-calc(5 0 20 20);
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: rem-calc(11);
  line-height: rem-calc(17);
  margin: 0;
  padding: rem-calc(0 4 5);
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(rem-calc(1), rem-calc(1), rem-calc(1), rem-calc(1));
  position: absolute !important;
  white-space: nowrap;
  height: rem-calc(1);
  width: rem-calc(1);
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: rem-calc(3);
  box-shadow: rem-calc(0 0 2 2) rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: rem-calc(14);
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: rem-calc(5);
  line-height: normal;
  padding: rem-calc(15 23 14);
  text-decoration: none;
  top: rem-calc(5);
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
