// Tabs
//
// .primary - Drupal's default tab markup styling.
//
// Markup:
// <ul class="primary">
//   <li><a href="#">Tab 1</a></li>
//   <li class="active"><a href="#" class="active">Tab 1</a></li>
//   <li><a href="#">Tab 1</a></li>
// </ul>
//
// Style guide: frontend.drupal.drupal7.tabs

// Variables
//
// Tab component variables. To add/edit component variables, use <code>scss/_variables.scss</code>.
//
// $tab-border-width        - Tab border width. Default: <code>1px</code>
// $tab-active-border-width - Active tab border width. Default: <code>2px</code>
// $tab-border-color        - Tab border color. Default: <code>#cacaca</code>
// $tab-active-border-color - Active tab border color. Default: <code>#1779ba</code>
// $tab-margin              - Tab margin. Default: <code>0 0 1rem</code>
// $tab-padding             - Tab padding. Default: <code>.9em 1.6em</code>
// $tab-weight              - Tab weight. Default: <code>normal</code>
// $tab-color               - Tab color. Default: <code>#cacaca</code>
// $tab-active-color        - Active tab color. Default: <code>#000</code>
// $tab-color-hover         - Tab hover color. Default: <code>#8a8a8a</code>
// $tab-background          - Tab background. Default: <code>#fff</code>
// $tab-background-hover    - Tab hover background. Default: <code>#fff</code>
//
// Style guide: frontend.drupal.drupal7.tabs.variables
$tab-border-width:        1px                                          !default;
$tab-border-color:        #cacaca                                      !default;
$tab-active-border-width: 2px                                          !default;
$tab-active-border-color: #1779ba                                      !default;
$tab-margin:              0 0 1rem                                     !default;
$tab-padding:             .9em 1.6em                                   !default;
$tab-weight:              normal                                       !default;
$tab-color:               #cacaca                                      !default;
$tab-active-color:        #000                                         !default;
$tab-color-hover:         #8a8a8a                                      !default;
$tab-background:          #fff                                         !default;
$tab-background-hover:    #fff                                         !default;

ul {
  &.primary {
    border-bottom: $tab-border-width solid $tab-border-color;
    margin: $tab-margin;
    padding: 0;

    &::after {
      clear: both;
      content: '';
      display: table;
    }

    li {
      display: inline-block;
      float: left;
      position: relative;

      a {
        background: $tab-background;
        border: $tab-border-width solid transparent;
        border-bottom: 0;
        border-top: $tab-active-border-width solid transparent;
        color: $tab-color;
        display: block;
        font-weight: $tab-weight;
        margin-right: 0;
        padding: $tab-padding;
        transition: color .3s, border .3s;

        &:hover {
          background-color: $tab-background-hover;
          border-color: transparent;
          color: $tab-color-hover;
        }
      }

      &.active {
        bottom: -1px;

        a {
          border: $tab-border-width solid $tab-border-color;
          border-bottom: 0;
          border-top: $tab-active-border-width solid $tab-active-border-color;
          color: $tab-active-color;
        }
      }
    }
  }
}
