////////////////////////////////////////////////////////////////////////////////
// Layout Partials
//
// These files should only include layout styles. This includes grid styles and
// main page layouts.
////////////////////////////////////////////////////////////////////////////////

@include add-grid($num-columns);                  // Mobile
@include add-grid($num-columns-medium at $small); // Tablet & up
@include add-grid($num-columns-large at $medium); // Desktop & up

@include add-gutter($gutter-padding);                  // Mobile
@include add-gutter($gutter-padding-medium at $small); // Tablet & up
@include add-gutter($gutter-padding-large at $medium); // Desktop & up

@include add-gutter-style($gutter-style);

/* Components */

.container {
  @extend %container;
}

.container-full {
  @extend %container-full;
}


/* Elements */

// Build additional mobile columns using the format below:
// (.col-NUM_COL_SPAN-STARTING_AT)

// Mobile
.col-#{$num-columns}-1 {
  @include grid-span($num-columns, 1);
}

// Tablet & up
@include breakpoint($small) {
  // Build additional desktop columns using the format below:
  // (.col-NUM_COL_SPAN-STARTING_AT-small)
  .col-#{$num-columns-medium}-1-small {
    @include grid-span($num-columns-small, 1);
  }
}

// Desktop & up
@include breakpoint($medium) {
  // Build additional desktop columns using the format below:
  // (.col-NUM_COL_SPAN-STARTING_AT-medium)
  .col-#{$num-columns-medium}-1-medium {
    @include grid-span($num-columns-medium, 1);
  }
}

// Large screen
@include breakpoint($large) {
  // Build additional desktop columns using the format below:
  // (.col-NUM_COL_SPAN-STARTING_AT-large)
  .col-#{$num-columns-large}-1-small {
    @include grid-span($num-columns-large, 1);
  }
}
