////////////////////////////////////////////////////////////////////////////////
// Wordpress Style File
//
// This file gets turned into wordpress.css. This file should really hold
// nothing except for imports of your base, style guide, layout, and design
// partials.
////////////////////////////////////////////////////////////////////////////////

////////////////////////
// Global Import
////////////////////////
@import 'partials/global/global';

//////////////////////////////
// Import Wordpress Components
//////////////////////////////
@import 'partials/components/wordpress';
