@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:300i|Poppins:300");
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 80.625rem;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Components */
/* Elements */
.col-1 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

@media (min-width: 980px) {
  .col-1-small {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}
/* Theme */
/* Modifiers */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

p {
  font-size: inherit;
  line-height: 1.4;
  margin-bottom: 2rem;
  text-rendering: optimizeLegibility;
}

em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: 700;
  line-height: inherit;
}

small {
  font-size: 0.875rem;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: 400;
  color: inherit;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 1.6rem;
  line-height: 1.12;
}
@media (min-width: 980px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 2rem;
    line-height: 1.4;
  }
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #7e7e7e;
  line-height: 0;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem;
}

@media (min-width: 980px) {
  h1 {
    font-size: 2.375rem;
  }

  h2 {
    font-size: 1.6875rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }
}
a {
  color: #fff;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
}
a:hover, a:focus {
  color: #dbdbdb;
}
a img {
  border: 0;
}

hr {
  max-width: 1260;
  height: 0;
  border-top: 0;
  border-bottom: 0.0625rem solid #ccc;
  margin: 2rem auto;
  clear: both;
}

ul,
ol,
dl {
  line-height: 1.4;
  margin-bottom: 2rem;
  list-style-position: outside;
}

li {
  font-size: inherit;
  margin: 0;
}

ul {
  list-style-type: disc;
  margin-left: 1.25rem;
}

ol {
  list-style-type: decimal;
  margin-left: 1.25rem;
}

ul ul, ol ul, ul ol, ol ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style-type: inherit;
}

dl {
  margin-bottom: 1rem;
}
dl dt {
  margin-bottom: 0.3rem;
  font-weight: 700;
}

blockquote {
  margin: 0 0 2rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #7e7e7e;
}
blockquote, blockquote p {
  line-height: 1.4;
  color: #333;
}

cite {
  display: block;
  font-size: 0.8125rem;
  color: #333;
}
cite:before {
  content: '\2014 \0020';
}

abbr {
  color: #fff;
  cursor: help;
  border-bottom: 1px dotted #000;
}

code,
pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 400;
  color: #fff;
  background-color: #f0f0f0;
  border: 0.0625rem solid #f0f0f3;
  padding: 0.125rem;
}

pre {
  padding: 1.25rem;
  margin-bottom: 2rem;
}

kbd {
  padding: 0.125rem 0.25rem 0;
  margin: 0;
  background-color: #f0f0f3;
  color: #000;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

sup,
sub {
  font-size: 0.625rem;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.34375rem;
  padding: 0.46875rem;
  border: 0.0625rem solid #ccc;
  margin: 0 0 0.9375rem;
  font-family: inherit;
  font-size: 1rem;
  color: #333;
  background-color: #000;
  box-shadow: none;
  border-radius: 0.1875rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}
[type="text"]:focus, [type="password"]:focus, [type="date"]:focus, [type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="week"]:focus, [type="email"]:focus, [type="number"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus, [type="url"]:focus, [type="color"]:focus,
textarea:focus {
  border: 0.0625rem solid #ccc;
  background: #f0f0f0;
  outline: none;
  box-shadow: none;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

textarea {
  max-width: 100%;
}
textarea[rows] {
  height: auto;
}

input:disabled, input[readonly],
textarea:disabled,
textarea[readonly] {
  background-color: #f0f0f3;
  cursor: default;
}

[type="submit"],
[type="button"] {
  border-radius: 0.1875rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  box-sizing: border-box;
}

[type="file"],
[type="checkbox"],
[type="radio"] {
  margin: 0;
}

[type="checkbox"] + label,
[type="radio"] + label {
  display: inline-block;
  margin-left: 0.46875rem;
  margin-right: 0.9375rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

label > [type="checkbox"],
label > [type="label"] {
  margin-right: 0.46875rem;
}

[type="file"] {
  width: 100%;
}

label {
  display: block;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.8;
  color: #000;
}
label.middle {
  margin: 0 0 0.9375rem;
  padding: 0.53125rem 0;
}

fieldset {
  border: 1px solid #7e7e7e;
  padding: 1.25rem;
  margin: 1.125rem 0;
}
fieldset legend {
  background: #000;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
}

select {
  height: 2.34375rem;
  padding: 0.46875rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.1875rem;
  margin: 0 0 0.9375rem;
  font-size: 1rem;
  font-family: inherit;
  line-height: normal;
  color: #333;
  background-color: #fafafa;
  border-radius: 0.1875rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb(51, 51, 51)"></polygon></svg>');
  background-size: 9px 6px;
  background-position: right 0.46875rem center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 0\0) {
  select {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");
  }
}
select:disabled {
  background-color: #f0f0f3;
  cursor: default;
}
select::-ms-expand {
  display: none;
}
select[multiple] {
  height: auto;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello/fontello.eot?77208441");
  src: url("../font/fontello/fontello.eot?77208441#iefix") format("embedded-opentype"), url("../font/fontello/fontello.woff2?77208441") format("woff2"), url("../font/fontello/fontello.woff?77208441") format("woff"), url("../font/fontello/fontello.ttf?77208441") format("truetype"), url("../font/fontello/fontello.svg?77208441#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77208441#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-github-circled:before {
  content: '\f09b';
}

/* 'ï‚›' */
/* Components */
/* Elements */
/* Theme */
/* Modifiers */
/* Components */
/* Elements */
/* Theme */
/* Modifiers */
/* Components */
/* Alignment */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: left;
}

.align-center {
  text-align: center;
}

@media (min-width: 980px) {
  .float-left-small {
    float: left;
  }

  .float-right-small {
    float: right;
  }

  .align-left-small {
    text-align: left;
  }

  .align-right-small {
    text-align: left;
  }

  .align-center-small {
    text-align: center;
  }
}
/* Lists */
.list-inline-block {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-inline-block li {
  display: list-inline-block;
}

/* Elements */
/* Theme */
/* Modifiers */
/* Components */
/* Elements */
/* Theme */
/* Modifiers */
