////////////////////////////////////////////////////////////////////////////////
// Color Styles
//
// Includes all Frontend color styles.
////////////////////////////////////////////////////////////////////////////////

.color-primary {
  color: $primary-color;
}

.color-secondary {
  color: $secondary-color;
}

.color-success {
  color: $success-color;
}

.color-warning {
  color: $warning-color;
}

.color-alert {
  color: $alert-color;
}

.color-info {
  color: $info-color;
}

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.color-xdark-gray {
  color: $xdark-gray;
}

.color-dark-gray {
  color: $dark-gray;
}

.color-medium-gray {
  color: $medium-gray;
}

.color-gray {
  color: $gray;
}

.color-light-gray {
  color: $light-gray;
}

.color-xlight-gray {
  color: $xlight-gray;
}

.bg-color-primary {
  background-color: $primary-color;
}

.bg-color-secondary {
  background-color: $secondary-color;
}

.bg-color-success {
  background-color: $success-color;
}

.bg-color-warning {
  background-color: $warning-color;
}

.bg-color-alert {
  background-color: $alert-color;
}

.bg-color-info {
  background-color: $info-color;
}

.bg-color-white {
  background-color: $white;
}

.bg-color-black {
  background-color: $black;
}

.bg-color-xdark-gray {
  background-color: $xdark-gray;
}

.bg-color-dark-gray {
  background-color: $dark-gray;
}

.bg-color-medium-gray {
  background-color: $medium-gray;
}

.bg-color-gray {
  background-color: $gray;
}

.bg-color-light-gray {
  background-color: $light-gray;
}

.bg-color-xlight-gray {
  background-color: $xlight-gray;
}

