////////////////////////////////////////////////////////////////////////////////
// Common Frontend Styles
//
// Includes all Frontend classes that can be used anywhere.
////////////////////////////////////////////////////////////////////////////////

// Table

.table {
  background: $table-background;
  display: table;
  width: 100%;
}

.table-header {
  background: $table-head-background;
  color: $table-head-font-color;

  // Tablet & up
  @include breakpoint($small) {
    display: table-header-group;
  }
}

.table-footer {
  background: $table-foot-background;

  // Tablet & up
  @include breakpoint($small) {
    display: table-footer-group;
  }
}

.table-body {
  // Tablet & up
  @include breakpoint($small) {
    display: table-row-group;
  }
}

.table-row {
  // Tablet & up
  @include breakpoint($small) {
    display: table-row;
  }
}

.table-col {
  padding: $table-padding;

  // Tablet & up
  @include breakpoint($small) {
    display: table-cell;
  }
}

// Pager

.pager {
  @extend %pager;
}
