////////////////////////////////////////////////////////////////////////////////
// Frontend Header Styles
//
// Includes all Frontend .header styles.
////////////////////////////////////////////////////////////////////////////////

/* Components */

.header {
  border-bottom: $site-header-border-bottom;
  margin-bottom: $site-header-margin-bottom;
  padding-top: $site-header-padding-top;
  padding-bottom: $site-header-padding-bottom;
  background: $site-header-background;
}


/* Modifiers */

.header--fixed {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
}
