////////////////////////////////////////////////////////////////////////////////
// Frontend Header Styles
//
// Includes all Frontend .header styles.
////////////////////////////////////////////////////////////////////////////////

// Components

.header {
  background: $site-header-background;
  border-bottom: $site-header-border-bottom;
  margin-bottom: $site-header-margin-bottom;
  padding-bottom: $site-header-padding-bottom;
  padding-top: $site-header-padding-top;
}


// Modifiers

.header--fixed {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
