////////////////////////////////////////////////////////////////////////////////
// Visibility Styles
//
// Includes all Frontend visibility styles.
////////////////////////////////////////////////////////////////////////////////

.hide {
  display: none;
}

.show {
  display: block;
}

@include breakpoint($small) {
  // Hide/show content on small (tablet) screens.
  .hide-small {
    display: none;
  }

  .show-small {
    display: block;
  }
}

@include breakpoint($medium) {
  // Hide/show content on medium (desktop) screens.
  .hide-medium {
    display: none;
  }

  .show-medium {
    display: block;
  }
}

@include breakpoint($large) {
  // Hide/show content on large screens.
  .hide-large {
    display: none;
  }

  .show-large {
    display: block;
  }
}

.screen-reader-text {
  @extend %screen-reader-text;
}
