////////////////////////////////////////////////////////////////////////////////
// Application Variables
//
// Contains all application variables and framework variable overrides.
////////////////////////////////////////////////////////////////////////////////
