////////////////////////////////////////////////////////////////////////////////
// Layout Partials
//
// These files should only include layout styles. This includes grid styles and
// main page layouts.
////////////////////////////////////////////////////////////////////////////////

@include add-grid($num-columns);
@include add-grid($num-columns-small at $small);
@include add-gutter-style('split');
@include add-gutter(rem-calc($global-padding));

/* Components */

.container {
  @extend %container;
}


/* Elements */

// Build additional mobile columns using the format below:
// (.col-NUM_COL_SPAN-STARTING_AT)
.col-#{$num-columns}-1 {
  @include grid-span($num-columns, 1);
}

@include breakpoint($small) {
  // Build additional desktop columns using the format below:
  // (.col-NUM_COL_SPAN-STARTING_AT-small)
  .col-#{$num-columns}-1-small {
    @include grid-span($num-columns-small, 1);
  }
}


/* Theme */

// Layouts should not have any theme related styles (always seperate layout from
// design).


/* Modifiers */