////////////////////////
// Layout Partials
//
// These files should only include layout styles.
////////////////////////

@include add-grid($num-columns);
@include add-grid($num-columns-small at $small);
@include add-gutter-style('split');
@include add-gutter(rem-calc($global-padding));