////////////////////////////////////////////////////////////////////////////////
// Extendables
//
// All extendables should be placed here.
////////////////////////////////////////////////////////////////////////////////

/* Layout */

%container {
  width: 100%;
  max-width: rem-calc($global-width + $gutter-padding);
  margin: 0 auto;
  @include clearfix;

  @include breakpoint($small) {
    max-width: rem-calc($global-width-small + $gutter-padding-small, $global-font-size-small);
  }

  @include breakpoint($medium) {
    max-width: rem-calc($global-width-medium + $gutter-padding-medium, $global-font-size-medium);
  }

  @include breakpoint($large) {
    max-width: rem-calc($global-width-large + $gutter-padding-large, $global-font-size-large);
  }
}

%container-full {
  width: 100%;
  margin: 0 auto;
  @include clearfix;

  @include breakpoint($small) {
    max-width: 100%;
  }

  @include breakpoint($medium) {
    max-width: 100%;
  }

  @include breakpoint($large) {
    max-width: 100%;
  }
}

%flexbox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;

  justify-content: space-between;
}


/* Button */

%button {
  display: inline-block;
  border-radius: $button-radius;
  background: $button-background;
  font-size: $button-font-size;
  line-height: $button-line-height;
  padding: $button-padding;
  border: $button-border;
  color: $button-color;
  cursor: pointer;
  font-family: $button-font-family;
  text-align: center;
  text-transform: $button-text-transform;
  text-decoration: none;

  &:hover {
    background: $button-background-hover;
    color: $button-color-hover;
    border: $button-border-hover;
    text-decoration: none;
  }
}


/* Lists */

%list-block {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: rem-calc($global-margin);
  margin-bottom: rem-calc($global-margin);

  li {
    display: block;
  }
}


/* Pager */

%pager {
  @include inline-block-list;
  text-transform: $pager-text-transform;
  text-align: $pager-text-align;

  a {
    display: inline-block;
    transition: $pager-transition;
    padding: $pager-link-padding;
    border: $pager-link-border;
    border-radius: $pager-link-border-radius;
    color: $pager-link-color;
    background: $pager-link-background;
    font-size: $pager-link-size;
    line-height: $pager-link-line-height;
    font-family: $pager-link-font-family;

    &:hover {
      background: $pager-link-background-hover;
      border: $pager-link-border-hover;
      color: $pager-link-color-hover;
    }
  }

  li {
    &.pager-ellipsis {
      padding: $pager-ellipsis-padding;
      border: $pager-ellipsis-border;
      border-radius: $pager-ellipsis-border-radius;
      color: $pager-ellipsis-color;
      background: $pager-ellipsis-background;
    }

    &.pager-current {
      background: $primary-color;
      color: $white;
      font-weight: $global-weight-normal;
      border-color: $primary-color;
      background: $pager-current-background;
    }
  }
}
