////////////////////////////////////////////////////////////////////////////////
// Extendables
//
// All extendables should be placed here.
////////////////////////////////////////////////////////////////////////////////

%container {
  width: 100%;
  max-width: rem-calc($global-width + $global-padding);
  margin: 0 auto;
  @include clearfix;
}

%button {
  border-radius: rem-calc($button-radius);
  background: $button-background;
  font-size: rem-calc($button-font-size);
  line-height: $button-line-height;
  padding: rem-calc($button-padding);

  &:hover {
    background: $button-background-hover;
    color: $button-color-hover;
  }
}
