////////////////////////////////////////////////////////////////////////////////
// Framework Default Variables
//
// All framework default variables should be placed here.
////////////////////////////////////////////////////////////////////////////////


// 1. Global
// -----------------------------------------------------------------------------

$global-width:             1140px                                      !default;
$global-font-size:         16px                                        !default;
$global-lineheight:        1.3                                         !default;

$primary-color:            #0092dd                                     !default;
$secondary-color:          #000                                        !default;

$success-color:            #009900                                     !default;
$warning-color:            #ffae00                                     !default;
$alert-color:              #ce3e3e                                     !default;

$white:                    #fff                                        !default;
$black:                    #000                                        !default;

$xlight-gray:              #f0f0f0                                     !default;
$light-gray:               #d0d0d0                                     !default;
$gray:                     #ccc                                        !default;
$medium-gray:              #999                                        !default;
$dark-gray:                #666                                        !default;
$xdark-gray:               #333                                        !default;

$body-background:          $white                                      !default;
$border-color:             $gray                                       !default;

$body-font-color:          $black                                      !default;
$body-font-family:         Arial, Helvetica, sans-serif                !default;
$body-antialiased:         true                                        !default;
$global-margin:            30px                                        !default;
$global-padding:           30px                                        !default;

$global-weight-normal:     400                                         !default;
$global-weight-medium:     500                                         !default;
$global-weight-semibold:   600                                         !default;
$global-weight-bold:       700                                         !default;

$global-radius:            3px                                         !default;
$global-text-direction:    ltr                                         !default;
$rem-base:                 $global-font-size                           !default;
$global-transition-timing: .2s                                         !default;

$button-radius:           $global-radius                               !default;
$button-background:       $primary-color                               !default;
$button-background-hover: $secondary-color                             !default;
$button-font-size:        $global-font-size                            !default;
$button-line-height:      1                                            !default;
$button-padding:          8px 10px                                     !default;
$button-color:            $white                                       !default;
$button-color-hover:      $button-color                                !default;
$button-border:           rem-calc(1) solid $primary-color             !default;
$button-border-hover:     rem-calc(1) solid $secondary-color           !default;


// 2. Breakpoints
// -----------------------------------------------------------------------------

$small:  980px                                                         !default;
$medium: 1024px                                                        !default;
$large:  1600px                                                        !default;

$medium-down: 0px $medium                                              !default;
$large-down:  0px $large                                               !default;


// 3. Base Typography
// -----------------------------------------------------------------------------

$font-family-monospace: "Courier New", Courier, monospace              !default;

$header-font-family: Georgia, serif                                    !default;
$header-font-weight: $global-weight-bold                               !default;
$header-font-style:  normal                                            !default;

$header-color:             inherit                                     !default;
$header-lineheight:        $global-lineheight                          !default;
$header-margin-bottom:     rem-calc($global-margin)                    !default;
$header-text-rendering:    optimizeLegibility                          !default;
$header-small-font-color:  $gray                                       !default;

$header-1-size: rem-calc($global-font-size + 15)                       !default;
$header-2-size: rem-calc($global-font-size + 12)                       !default;
$header-3-size: rem-calc($global-font-size + 9)                        !default;
$header-4-size: rem-calc($global-font-size + 6)                        !default;
$header-5-size: rem-calc($global-font-size + 3)                        !default;
$header-6-size: rem-calc($global-font-size)                            !default;

$xxxlarge-font-size:    $header-1-size                                 !default;
$xxlarge-font-size:     $header-2-size                                 !default;
$xlarge-font-size:      $header-3-size                                 !default;
$large-font-size:       $header-4-size                                 !default;
$medium-font-size:      $header-5-size                                 !default;
$normal-font-size:      $header-6-size                                 !default;
$small-font-size:       rem-calc($global-font-size - 2)                !default;
$xsmall-font-size:      rem-calc($global-font-size - 4)                !default;
$xxsmall-font-size:     rem-calc($global-font-size - 6)                !default;
$xxxsmall-font-size:    rem-calc($global-font-size - 8)                !default;

$paragraph-lineheight:     $global-lineheight                          !default;
$paragraph-margin-bottom:  rem-calc($global-margin)                    !default;
$paragraph-text-rendering: optimizeLegibility                          !default;

$code-color:       $xdark-gray                                         !default;
$code-font-family: $font-family-monospace                              !default;
$code-font-weight: $global-weight-normal                               !default;
$code-background:  $xlight-gray                                        !default;
$code-border:      0                                                   !default;
$code-padding:     rem-calc(2)                                         !default;

$anchor-color:                 $primary-color                          !default;
$anchor-color-hover:           scale-color($anchor-color, $lightness: -14%) !default;
$anchor-text-decoration:       none                                    !default;
$anchor-text-decoration-hover: none                                    !default;

$hr-width:  rem-calc($global-width)                                    !default;
$hr-border: rem-calc(1) solid $gray                                    !default;
$hr-margin: rem-calc($global-margin) auto                              !default;

$list-lineheight:             $paragraph-lineheight                    !default;
$list-margin-bottom:          $paragraph-margin-bottom                 !default;
$list-style-type:             disc                                     !default;
$list-style-position:         outside                                  !default;
$list-side-margin:            1.25rem                                  !default;
$list-nested-side-margin:     1.25rem                                  !default;
$defnlist-margin-bottom:      1rem                                     !default;
$defnlist-term-weight:        $global-weight-bold                      !default;
$defnlist-term-margin-bottom: 0.3rem                                   !default;
$blockquote-color:            $dark-gray                               !default;
$blockquote-padding:          rem-calc(0 $global-padding)              !default;
$blockquote-border:           rem-calc(1) solid $gray                  !default;
$cite-font-size:              $small-font-size                         !default;
$cite-color:                  $gray                                    !default;
$keystroke-font:              $font-family-monospace                   !default;
$keystroke-color:             $black                                   !default;
$keystroke-background:        $light-gray                              !default;
$keystroke-padding:           rem-calc($global-padding)                !default;
$keystroke-radius:            rem-calc($global-radius)                 !default;
$abbr-underline:              rem-calc(1) dotted $black                !default;


// 4. Forms
// -----------------------------------------------------------------------------

$fieldset-border:         rem-calc(1) solid $gray                      !default;
$fieldset-padding:        rem-calc($global-padding)                    !default;
$fieldset-margin:         rem-calc($global-margin)                     !default;
$legend-padding:          rem-calc(5)                                  !default;
$form-spacing:            rem-calc(20)                                 !default;
$helptext-color:          $gray                                        !default;
$helptext-font-size:      $small-font-size                             !default;
$helptext-font-style:     italic                                       !default;
$input-prefix-color:      $black                                       !default;
$input-prefix-background: $light-gray                                  !default;
$input-prefix-border:     rem-calc(1) solid $gray                      !default;
$input-prefix-padding:    rem-calc($global-padding)                    !default;
$form-label-color:        $black                                       !default;
$form-label-font-size:    $small-font-size                             !default;
$form-label-font-weight:  $global-weight-bold                          !default;
$form-label-line-height:  1.8                                          !default;
$select-background:       $body-background                             !default;
$select-triangle-color:   $black                                       !default;
$select-radius:           rem-calc($global-radius)                     !default;

$input-color:       $dark-gray                                         !default;
$input-font-family: inherit                                            !default;
$input-font-size:   rem-calc($global-font-size)                        !default;

$input-background:          $body-background                           !default;
$input-background-focus:    $light-gray                                !default;
$input-background-disabled: $gray                                      !default;

$input-border:       rem-calc(1) solid $gray                           !default;
$input-border-focus: rem-calc(1) solid $gray                           !default;
$input-shadow:       none                                              !default;
$input-shadow-focus: none                                              !default;

$input-cursor-disabled: default                                        !default;
$input-transition:      box-shadow 0.5s, border-color 0.25s ease-in-out !default;
$input-number-spinners: true                                           !default;
$input-radius:          rem-calc($global-radius)                       !default;


// 5. Label
// -----------------------------------------------------------------------------

$label-background: $primary-color                                      !default;
$label-color:      foreground($label-background)                       !default;
$label-font-size:  0.8rem                                              !default;
$label-padding:    rem-calc($global-padding)                           !default;
$label-radius:     rem-calc($global-radius)                            !default;


// 6. Table
// -----------------------------------------------------------------------------

$table-background:         $white                                      !default;
$table-color-scale:        5%                                          !default;
$table-border:             rem-calc(1) solid smart-scale($table-background, $table-color-scale) !default;
$table-padding:            rem-calc(10)                                !default;
$table-hover-scale:        2%                                          !default;
$table-row-hover:          darken($table-background, $table-hover-scale) !default;
$table-row-stripe-hover:   darken($table-background, $table-color-scale + $table-hover-scale) !default;
$table-striped-background: smart-scale($table-background, $table-color-scale) !default;
$table-stripe:             even                                        !default;
$table-head-background:    smart-scale($table-background, $table-color-scale / 2) !default;
$table-foot-background:    smart-scale($table-background, $table-color-scale) !default;
$table-head-font-color:    $body-font-color                            !default;
$show-header-for-stacked:  false                                       !default;

// 6. Grid
// ---------

$num-columns:       1                                                  !default;
$num-columns-small: 12                                                 !default;
$include-clearfix:  true                                               !default;
$gutter-style:      'split'                                            !default;

// Internal variables used for text direction
$global-left:  if($global-text-direction == rtl, right, left)          !default;
$global-right: if($global-text-direction == rtl, left, right)          !default;
