// Drupal 7
//
// Contains default Drupal 7 styles.
//
// Style guide: frontend.drupal.drupal7

// scss-lint:disable QualifyingElement

// Drupal 7 Variables

// Site messages
$message-margin:  rem-calc($global-margin 0)                           !default;
$message-padding: $global-padding                                      !default;

$message-error-background: rgba($alert-color, .5)                      !default;
$message-error-border:     rem-calc(1) solid darken($alert-color, 50%) !default;
$message-error-color:      darken($alert-color, 50%)                   !default;

$message-status-background: rgba($success-color, .5)                   !default;
$message-status-border:     rem-calc(1) solid darken($success-color, 50%) !default;
$message-status-color:      darken($success-color, 50%)                !default;

$message-warning-background: rgba($warning-color, .5)                  !default;
$message-warning-border:     rem-calc(1) solid darken($warning-color, 50%) !default;
$message-warning-color:      darken($warning-color, 50%)               !default;

// Base
button,
[type='button'],
[type='reset'],
[type='submit'], {
  @include button;
}

// Pager
.pager {
  @include pagination-container;
}

// Site messages
div {
  &.messages {
    background-position: 0% 0%;
    margin: $message-margin;
    padding: $message-padding;
  }

  &.status,
  &.warning,
  &.error {
    background-image: none;
  }

  &.status {
    border: $message-status-border;
    color: $message-status-color;
  }

  &.warning {
    border: $message-warning-border;
    color: $message-warning-color;
  }

  &.error {
    border: $message-error-border;
    color: $message-error-color;
  }
}

div.status,
table tr.ok {
  background-color: $message-status-background;
}

div.status,
.ok {
  color: $message-status-color;
}

div.warning,
table tr.warning {
  background-color: $message-warning-background;
}

div.warning,
.warning {
  color: $message-warning-color;
}

div.error,
table tr.error {
  background-color: $message-error-background;
}

div.error,
.error,
.marker,
.form-required {
  color: $message-error-color;
}

// Menu tree
ul {
  li {
    &.collapsed,
    &.expanded,
    &.leaf {
      list-style-image: none;
      list-style-type: none;
    }
  }

  &.menu {
    li {
      margin: 0;
    }
  }
}

li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0;
}

// Search results
.search-results {
  margin-left: 0;

  .search-snippet-info {
    padding-left: 0;
  }
}

// Forms
.form-item,
.form-actions {
  margin-bottom: rem-calc($global-margin);
  margin-top: rem-calc($global-margin);
}

.form-actions {
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    margin-bottom: 0;
  }

  .form-submit {
    margin-right: $global-margin;
  }
}

input {
  &.form-checkbox,
  &.form-radio {
    vertical-align: baseline;
  }
}
