// Drupal 7
//
// Contains default Drupal 7 styles. Available scss variables:<br>
// <h5>Site Messages</h5>
// <ul>
//   <li><code>$message-margin</code></li>
//   <li><code>$message-padding</code></li>
//   <li><code>$message-error-background</code></li>
//   <li><code>$message-error-border</code></li>
//   <li><code>$message-error-color</code></li>
//   <li><code>$message-status-background</code></li>
//   <li><code>$message-status-border</code></li>
//   <li><code>$message-status-color</code></li>
//   <li><code>$message-warning-background</code></li>
//   <li><code>$message-warning-border</code></li>
//   <li><code>$message-warning-color</code></li>
// </ul>
// <h5>Progress Bar</h5>
// <ul>
//   <li><code>$progress-bar-background</code></li>
//   <li><code>$progress-bar-border</code></li>
//   <li><code>$progress-bar-margin</code></li>
//   <li><code>$progress-bar-radius</code></li>
//   <li><code>$progress-filled-background</code></li>
//   <li><code>$progress-height</code></li>
//   <li><code>$progress-weight</code></li>
// </ul>
// <h5>Password Strength</h5>
// <ul>
//   <li><code>$password-strength-margin</code></li>
//   <li><code>$password-strength-width</code></li>
//   <li><code>$password-indicator-background</code></li>
//   <li><code>$password-indicator-fill-background</code></li>
//   <li><code>$password-indicator-height</code></li>
// </ul>
//
// Style guide: frontend.drupal.drupal7

// scss-lint:disable QualifyingElement

// Drupal 7 Variables

// Site messages
$message-margin:  rem-calc($global-margin 0)                           !default;
$message-padding: $global-padding                                      !default;

$message-error-background: rgba($alert-color, .5)                      !default;
$message-error-border:     rem-calc(1) solid darken($alert-color, 50%) !default;
$message-error-color:      darken($alert-color, 50%)                   !default;

$message-status-background: rgba($success-color, .5)                   !default;
$message-status-border:     rem-calc(1) solid darken($success-color, 50%) !default;
$message-status-color:      darken($success-color, 50%)                !default;

$message-warning-background: rgba($warning-color, .5)                  !default;
$message-warning-border:     rem-calc(1) solid darken($warning-color, 50%) !default;
$message-warning-color:      darken($warning-color, 50%)               !default;

// Progress bar
$progress-bar-background:    $progress-background                      !default;
$progress-bar-border:        rem-calc(1) solid $medium-gray            !default;
$progress-bar-margin:        rem-calc($progress-margin-bottom)         !default;
$progress-bar-radius:        rem-calc($progress-radius)                !default;
$progress-filled-background: $progress-meter-background                !default;
$progress-height:            $progress-height                          !default;
$progress-weight:            $global-weight-bold                       !default;

// Password strength
$password-strength-margin:           0                                 !default;
$password-strength-width:            rem-calc(300)                     !default;
$password-indicator-background:      $progress-background              !default;
$password-indicator-fill-background: $progress-meter-background        !default;
$password-indicator-height:          rem-calc(24)                      !default;

// Base
button,
[type='button'],
[type='reset'],
[type='submit'], {
  @include button;
}

// Pager
.pager {
  @include pagination-container;
}

// Progress bar
.progress {
  font-weight: $progress-weight;

  .bar {
    background: $progress-bar-background;
    border: $progress-bar-border;
    border-radius: $progress-bar-radius;
    margin: 0 0 $progress-bar-margin 0;
  }

  .filled {
    background: $progress-filled-background;
    height: $progress-height;
  }
}

// Site messages
div {
  &.messages {
    background-position: 0% 0%;
    margin: $message-margin;
    padding: $message-padding;
  }

  &.status,
  &.warning,
  &.error {
    background-image: none;
  }

  &.status {
    border: $message-status-border;
    color: $message-status-color;
  }

  &.warning {
    border: $message-warning-border;
    color: $message-warning-color;
  }

  &.error {
    border: $message-error-border;
    color: $message-error-color;
  }
}

div.status,
table tr.ok {
  background-color: $message-status-background;
}

div.status,
.ok {
  color: $message-status-color;
}

div.warning,
table tr.warning {
  background-color: $message-warning-background;
}

div.warning,
.warning {
  color: $message-warning-color;
}

div.error,
table tr.error {
  background-color: $message-error-background;
}

div.error,
.error,
.marker,
.form-required {
  color: $message-error-color;
}

// Menu tree
ul {
  li {
    &.collapsed,
    &.expanded,
    &.leaf {
      list-style-image: none;
      list-style-type: none;
    }
  }

  &.menu {
    li {
      margin: 0;
    }
  }
}

li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0;
}

// Search results
.search-results {
  margin-left: 0;

  .search-snippet-info {
    padding-left: 0;
  }
}

// Forms
.form-item,
.form-actions {
  margin-bottom: rem-calc($global-margin);
  margin-top: rem-calc($global-margin);
}

.form-actions {
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    margin-bottom: 0;
  }

  .form-submit {
    margin-right: $global-margin;
  }
}

input {
  &.form-checkbox,
  &.form-radio {
    vertical-align: baseline;
  }
}

// Password strength
.password-strength {
  margin-top: $password-strength-margin;
  width: $password-strength-width;
}

.password-indicator {
  background: $password-indicator-background;
  height: $password-indicator-height;

  div {
    background: $password-indicator-fill-background;
  }
}
