////////////////////////////////////////////////////////////////////////////////
// Frontend Layout Styles
//
// Includes all Frontend layout styles.
////////////////////////////////////////////////////////////////////////////////

.no-margin {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.no-padding {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.round {
  border-radius: 100%;
  overflow: hidden;
}

.clearfix {
  @include clearfix;
}
