////////////////////////////////////////////////////////////////////////////////
// Frontend List Styles
//
// Includes all Frontend list styles.
////////////////////////////////////////////////////////////////////////////////

.list-menu {
  li {
    margin-bottom: rem-calc($global-margin);

    // Tablet & up
    @include breakpoint($small) {
      margin-right: rem-calc($global-padding);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.list-inline-block {
  @include inline-block-list;
}

.list-block {
  @include inline-block-list;

  li {
    display: block;
  }
}

// Tablet & up
@include breakpoint($small) {
  .list-inline-block-small {
    @include inline-block-list;
  }
}

// Desktop & up
@include breakpoint($medium) {
  .list-inline-block-medium {
    @include inline-block-list;
  }
}

// Large screens
@include breakpoint($large) {
  .list-inline-block-large {
    @include inline-block-list;
  }
}

.list-inline {
  @include inline-list;
}

// Tablet & up
@include breakpoint($small) {
  .list-inline-small {
    @include inline-block-list;
  }
}

// Desktop & up
@include breakpoint($medium) {
  .list-inline-medium {
    @include inline-block-list;
  }
}

// Large screens
@include breakpoint($large) {
  .list-inline-large {
    @include inline-block-list;
  }
}
