////////////////////////////////////////////////////////////////////////////////
// Global Styles (style.css)
//
// Contains all global partials for the style.css stylesheet.
////////////////////////////////////////////////////////////////////////////////

// Frontend
//
// REQUIRED. All Frontend imports.
//
// Style guide: frontend

// Frontend global partials.
@import 'frontend/global/global';

// Reset & base Frontend partials, should only be included once per CSS file.
@import 'compass/reset';

// Frontend base styles.
@import 'frontend/base/base';

// Frontend layout build.
@import 'frontend/layout/layouts';

// Components
//
// All avaiable Frontend components.
//
// Style guide: frontend.components

@import 'frontend/components/classes/colors';
@import 'frontend/components/classes/common';
@import 'frontend/components/classes/layout';
@import 'frontend/components/classes/typography';
@import 'frontend/components/classes/alignment';
@import 'frontend/components/classes/lists';
//@import 'frontend/components/classes/callout';
//@import 'frontend/components/classes/buttons';
//@import 'frontend/components/classes/visibility';
//

// Libraries
//
// All avaiable pre-defined libraries.
//
// Style guide: frontend.components.lib

// Drupal 7
@import 'frontend/components/lib/drupal7';

// WordPress
//@import 'frontend/components/lib/wordpress';

// Application
//
// Global application functions, mixins, default variables, extendables and
// styles.
//
// Style guide: application

// Application Global
//
// Global application functions, mixins, default variables and extendables.
//
// Style guide: application.global

//@import 'application/global/..';

// Application Base
//
// Application selector declarations.
//
// Style guide: application.base

//@import 'application/base/..';

// Application Layout
//
// Application layout selector declarations.
//
// Style guide: application.layout

//@import 'application/layout/..';

// Application Components
//
// Application components.
//
// Style guide: application.components

//@import 'application/components/..';

