////////////////////////////////////////////////////////////////////////////////
// Global Styles File (style.css, v3.0.0)
//
// Add all global style imports here. This file should only contain imports and
// no individual style definitions.
////////////////////////////////////////////////////////////////////////////////

/* Framework Partials */

// REQUIRED. Global Frontend functions, mixins, default variables and
// extendables.
@import 'frontend/global/global';

// Reset & base Frontend partials, should only be included once per CSS file.
@import 'compass/reset';
@import 'frontend/base/base';

// Import Frontend partials
@import 'frontend/layout/layouts';

// Import Frontend component class partials
@import 'frontend/components/classes/layout';
@import 'frontend/components/classes/typography';
@import 'frontend/components/classes/alignment';
@import 'frontend/components/classes/buttons';
@import 'frontend/components/classes/lists';
@import 'frontend/components/classes/header';
@import 'frontend/components/classes/frontend';
@import 'frontend/components/classes/visibility';
@import 'frontend/components/classes/colors';
@import 'frontend/components/classes/callout';


/* CMS Partials */

//@import 'frontend/components/drupal7';
//@import 'frontend/components/wordpress';


/* Application Partials */

// Application functions, mixins, default variables and extendables
//@import 'application/global/..';

// Application base partials
//@import 'application/base/..';

// Application layout partials
//@import 'application/layout/..';

// Application component partials
//@import 'application/components/..';

