////////////////////////////////////////////////////////////////////////////////
// Extendables
//
// All extendables should be placed here.
////////////////////////////////////////////////////////////////////////////////

%container {
  width: 100%;
  max-width: rem-calc($global-width + $global-padding);
  margin: 0 auto;
  @include clearfix;
}

%list-inline-block {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}

%button {
  $height: $input-font-size + $form-spacing;

  display: inline-block;
  cursor: pointer;
  border-radius: $input-radius;
  background-color: $anchor-color;
  color: $white;
  border: $input-border;
  border-color: $primary-color;
  font-family: $input-font-family;
  font-size: $input-font-size;
  margin: 0 0 $form-spacing;
  padding: $form-spacing / 2;
  height: $height;
  line-height: 1;
  transition: background-color $global-transition-timing;

  &:hover {
    background-color: $anchor-color-hover;
  }
}
