////////////////////////////////////////////////////////////////////////////////
// Variables
//
// All theme variables should be placed here.
////////////////////////////////////////////////////////////////////////////////

// 1. Global
// ---------

$global-width:             1140;
$global-font-size:         16px;
$global-lineheight:        1.3;

$primary-color:            #0092dd;
$secondary-color:          #000;

$success-color:            #009900;
$warning-color:            #ffae00;
$alert-color:              #ce3e3e;

$white:                    #fff;
$black:                    #000;

$xlight-gray:              #f0f0f0;
$light-gray:               #f0f0f3;
$gray:                     #ccc;
$medium-gray:              #7e7e7e;
$dark-gray:                #333;
$xdark-gray:               #dfe0e1;

$body-background:          $white;
$border-color:             $gray;

$body-font-color:          $black;
$body-font-family:         Arial, Helvetica, sans-serif;
$body-antialiased:         true;
$global-margin:            1.5rem;
$global-padding:           1rem;

$global-weight-normal:     400;
$global-weight-medium:     500;
$global-weight-semibold:   600;
$global-weight-bold:       700;

$global-radius:            rem-calc(3);
$global-text-direction:    ltr;
$rem-base:                 $global-font-size;
$global-transition-timing: .2s;

// 2. Breakpoints
// --------------

$small:  980px;
$medium: 1024px;
$large:  1600px;

$medium-down: 0px $medium;
$large-down:  0px $large;

// 3. Base Typography
// ------------------

$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

$header-font-family: Georgia, serif;
$header-font-weight: $global-weight-bold;
$header-font-style:  'normal';

$header-color:             inherit;
$header-lineheight:        $global-lineheight;
$header-margin-bottom:     rem-calc($global-margin);
$header-text-rendering:    optimizeLegibility;
$header-small-font-color:  $gray;

$header-1-size: rem-calc($global-font-size + 22);
$header-2-size: rem-calc($global-font-size + 11);
$header-3-size: rem-calc($global-font-size + 8);
$header-4-size: rem-calc($global-font-size + 4);
$header-5-size: rem-calc($global-font-size + 2);
$header-6-size: rem-calc($global-font-size);

$xxxlarge-font-size:    $header-1-size;
$xxlarge-font-size:     $header-2-size;
$xlarge-font-size:      $header-3-size;
$large-font-size:       $header-4-size;
$medium-font-size:      $header-5-size;
$normal-font-size:      $header-6-size;
$small-font-size:       rem-calc($global-font-size - 2);
$xsmall-font-size:      rem-calc($global-font-size - 4);
$xxsmall-font-size:     rem-calc($global-font-size - 6);
$xxxsmall-font-size:    rem-calc($global-font-size - 8);

$paragraph-lineheight:     $global-lineheight;
$paragraph-margin-bottom:  rem-calc($global-margin);
$paragraph-text-rendering: optimizeLegibility;

$code-color:       $body-font-color;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background:  $light-gray;
$code-border:      rem-calc(1) solid $gray;
$code-padding:     rem-calc(2);

$anchor-color:                 $primary-color;
$anchor-color-hover:           scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration:       none;
$anchor-text-decoration-hover: none;

$hr-width:  $global-width;
$hr-border: rem-calc(1) solid $gray;
$hr-margin: rem-calc($global-margin) auto;

$list-lineheight:             $paragraph-lineheight;
$list-margin-bottom:          $paragraph-margin-bottom;
$list-style-type:             disc;
$list-style-position:         outside;
$list-side-margin:            1.25rem;
$list-nested-side-margin:     1.25rem;
$defnlist-margin-bottom:      1rem;
$defnlist-term-weight:        $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;
$blockquote-color:            $gray;
$blockquote-padding:          $global-padding;
$blockquote-border:           rem-calc(1) solid $gray;
$cite-font-size:              $small-font-size;
$cite-color:                  $gray;
$keystroke-font:              $font-family-monospace;
$keystroke-color:             $black;
$keystroke-background:        $light-gray;
$keystroke-padding:           $global-padding;
$keystroke-radius:            $global-radius;
$abbr-underline:              rem-calc(1) dotted $black;

// 4. Forms
// ---------

$fieldset-border:         rem-calc(1) solid $gray;
$fieldset-padding:        $global-padding;
$fieldset-margin:         $global-margin;
$legend-padding:          $global-padding;
$form-spacing:            $global-padding;
$helptext-color:          $gray;
$helptext-font-size:      $small-font-size;
$helptext-font-style:     italic;
$input-prefix-color:      $black;
$input-prefix-background: $light-gray;
$input-prefix-border:     rem-calc(1) solid $gray;
$input-prefix-padding:    $global-padding;
$form-label-color:        $black;
$form-label-font-size:    $small-font-size;
$form-label-font-weight:  $global-weight-bold;
$form-label-line-height:  1.8;
$select-background:       $gray;
$select-triangle-color:   $black;
$select-radius:           $global-radius;

$input-color:       $dark-gray;
$input-font-family: inherit;
$input-font-size:   rem-calc($global-font-size);

$input-background:          $body-background;
$input-background-focus:    $light-gray;
$input-background-disabled: $gray;

$input-border:       rem-calc(1) solid $gray;
$input-border-focus: rem-calc(1) solid $gray;
$input-shadow:       none;
$input-shadow-focus: none;

$input-cursor-disabled: default;
$input-transition:      box-shadow 0.5s, border-color 0.25s ease-in-out;
$input-number-spinners: true;
$input-radius:          $global-radius;

// 5. Label
// ---------

$label-background: $primary-color;
$label-color:      foreground($label-background);
$label-font-size:  0.8rem;
$label-padding:    $global-padding;
$label-radius:     $global-radius;

// 6. Table
// ---------

$table-background:         $white;
$table-color-scale:        5%;
$table-border:             rem-calc(1) solid smart-scale($table-background, $table-color-scale);
$table-padding:            $global-padding;
$table-hover-scale:        2%;
$table-row-hover:          darken($table-background, $table-hover-scale);
$table-row-stripe-hover:   darken($table-background, $table-color-scale + $table-hover-scale);
$table-striped-background: smart-scale($table-background, $table-color-scale);
$table-stripe:             even;
$table-head-background:    smart-scale($table-background, $table-color-scale / 2);
$table-foot-background:    smart-scale($table-background, $table-color-scale);
$table-head-font-color:    $body-font-color;
$show-header-for-stacked:  false;

// 6. Grid
// ---------

$num-columns:       1;
$num-columns-small: 12;
$include-clearfix:  true;

// Internal variables used for text direction
$global-left:  if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);
