// Variables
//
// These are the default variables for Frontend Build. If <a href="http://foundation.zurb.com/" target="_blank">Foundation</a> is enabled, matching variable names from this file override those in Foundation's settings file. To add/edit variables, use <code>scss/_variables.scss</code>.
//
// Style guide: frontend.variables

// Globals
//
// These are the default global variables. To add/edit, use <code>scss/_variables.scss</code>.
//
// $global-width         - Defines the application's default max width. Default: <code>rem-calc(1200)</code>
// $global-margin        - Defines the application's default margin. Default: <code>1rem</code>
// $global-padding       - Defines the application's default padding. Default: <code>1rem</code>
// $global-radius        - Defines the application's default radius. Default: <code>0</code>
// $global-weight-normal - Defines the application's default normal weight. Default: <code>normal</code>
// $global-weight-bold   - Defines the application's default bold weight. Default: <code>bold</code>
//
// Weight: 1
//
// Style guide: frontend.variables.globals
$global-width:         rem-calc(1200);
$global-margin:        rem-calc(30);
$global-padding:       rem-calc(30);
$global-radius:        rem-calc(3);
$global-weight-normal: normal;
$global-weight-bold:   bold;

// Color Scheme
//
// These are the default color options. To add/edit, use <code>scss/_variables.scss</code>.
//
// $primary-color   - #1779ba; Primary Color
// $secondary-color - #006633; Secondary Color
// $alert-color     - #cc4b37; Alert Color
// $success-color   - #3adb76; Success Color
// $warning-color   - #ffae00; Warning Color
// $dark-gray       - #8a8a8a; Dark Gray
// $medium-gray     - #cacaca; Medium Gray
// $light-gray      - #e6e6e6; Light Gray
// $black           - #000; Black
// $white           - #fff; White
//
// Weight: 2
//
// Style guide: frontend.variables.colors
$primary-color:   #1779ba;
$secondary-color: #063;
$alert-color:     #cc4b37;
$success-color:   #3adb76;
$warning-color:   #ffae00;
$dark-gray:       #8a8a8a;
$medium-gray:     #cacaca;
$light-gray:      #f4f5f7;
$black:           #000;
$white:           #fff;

// Typography
//
// These are the default typography options.
//
// $small-font-size - Defines the small font size. Default: <code>80%</code>
//
// Weight: 3
//
// Style guide: frontend.variables.typography
$small-font-size: 80%;

// CSS Grid
//
// These are the default options for CSS grids. To add/edit, use <code>scss/_variables.scss</code>.
//
// $css-grid-columns     - Defines the number of columns to use in a grid using a responsive list. Default: <code>(small: 2, medium: 12)</code>
// $css-grid-column-gaps - Defines the grid's column gap using a responsive list. Default: <code>(small: 15px, medium: 30px)</code>
// $css-grid-row-gaps    - Defines the grid's row gap using a responsive list. Default: <code>(small: 0, medium: 0x)</code>
//
// Weight: 4
//
// Style guide: frontend.variables.css-grid
$css-grid-columns: (
  small: 2,
  medium: 12
);
$css-grid-column-gaps: (
  small: 20px,
  medium: 30px
);
$css-grid-row-gaps: (
  small: 0,
  medium: 0
);

// Forms
//
// These are the default options for form styling. To add/edit, use <code>scss/_variables.scss</code>.
//
// $form-label-font-size - Defines the font size for form labels. Default: <code>rem-calc(14)</code>
// $form-spacing         - Defines the form input bottom margin. Default: <code>rem-calc(16)</code>
//
// Weight: 5
//
// Style guide: frontend.variables.forms
$form-label-font-size: rem-calc(14);
$form-spacing:         rem-calc(16);

// Progress Bar
//
// These are the default options for progress bars. To add/edit, use <code>scss/_variables.scss</code>.
//
// $progress-background - Defines the background of progress bars. Default: <code>$medium-gray</code>
// $progress-margin-bottom - Defines the progress bar margin. Default: <code>$global-margin</code>
// $progress-radius - Defines the progress bar radius. Default: <code>$global-radius</code>
// $progress-meter-background - Defines the background of progress bar meter. Default: <code>$primary-color</code>
// $progress-height - Defines the height of the progress bar. Default: <code>1rem</code>
//
// Weight: 6
//
// Style guide: frontend.variables.progress-bar
$progress-background:       $medium-gray;
$progress-margin-bottom:    rem-calc(5);
$progress-radius:           $global-radius;
$progress-meter-background: $primary-color;
$progress-height:           rem-calc(20);
