////////////////////////////////////////////////////////////////////////////////
// Drupal Styles
//
// All core Drupal styles should be placed here. See https://goo.gl/X8Th2T
// for more details.
////////////////////////////////////////////////////////////////////////////////

// Form Styles
.form-submit {
  @extend %button;
  margin: rem-calc(10 10 10 0);
}

.form-item {
  [type=color],
  [type=date],
  [type=datetime-local],
  [type=datetime],
  [type=email],
  [type=month],
  [type=number],
  [type=password],
  [type=search],
  [type=tel],
  [type=text],
  [type=time],
  [type=url],
  [type=week],
  textarea {
    margin-bottom: 0;
  }

  .description {
    color: $dark-gray;
    font-size: $xsmall-font-size;
    margin-top: rem-calc(5);
  }
}


// Pager styles
.pager {
  @extend %pager;
}


// System messages
.status,
.warning,
.error {
  background-image: none;
}

.status,
.ok {
  background-color: rgba($success-color, .05);
  color: $success-color;
}

.warning {
  background-color: rgba($warning-color, .05);
  color: $warning-color;
}

.error {
  background-color: rgba($alert-color, .05);
  color: $alert-color;
}

.status {
  border-color: $success-color;
}

.messages {
  border: rem-calc(1) solid;
  border-radius: $global-radius;
  padding: rem-calc(15 20);
}


// Theme
.marker,
.form-required {
  color: $alert-color;
}


// Styleguide
// scss-lint:disable IdSelector
#styleguide-header {
  background-color: $xlight-gray;
  border-color: $light-gray;
}
